@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  div.bar-discount {
    background: #1cd1b0;
    padding: 10px;
    height: 23px;
    display: flex;
    align-items: center;
  }
  
  div.bar-discount p {
    color: #000000;
    font-weight: bold;
  }
  
  header.super-herois {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #00669f;
    padding: 20px;
    height: 80px;
    box-shadow: 2px 2px 2px #000000;
  }
  
  header.super-herois h1 {
    
    color: #ffffff;
    font-size: 40px;
  }

.formulario {
  display: block;
  margin: auto;
  width: 70%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
 }


 fieldset {

  display:flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #ffffff;
  margin: 30px;
}

  .inf {
      font-size: 72px;
      font-weight:bolder;
      font-family: 'Inter' , sans-serif;
      display: flex;
      margin-right: 430px;
      line-height: 72px;
      color: #333333;
    }

button {

    background-color: #1CD1B0;
    border-radius: 23.01px;
    height: 53.79px;
    width: 614.25px;
    color: #000000;
    border: #ffffff;
}

footer {
  margin-top: 186px;
    background-color: #00669F;
    padding: 26px;
    color: #f3f3f3;
    text-align: center;
}

input[type=text] {

  height: 60px;
  width: 620px;
  outline: none;
  border: 2px solid #000000;

}

.direct {
 font-weight: bold;

}

.link {
        text-decoration:none;
        color: #000000; 
    }

.link2 {
  text-decoration:none;

}
    
